<a routerLink="/home"
  ><button class="sideNavButton snBtn1" routerLinkActive="active">
    Home
  </button></a
>
<a routerLink="/about"
  ><button class="sideNavButton" routerLinkActive="active">About</button></a
>
<a routerLink="/rules"
  ><button class="sideNavButton" routerLinkActive="active">Rules</button></a
>
<a routerLink="/contact"
  ><button class="sideNavButton" routerLinkActive="active">Contact</button></a
>
<a routerLink="/login"
  ><button class="sideNavButton" routerLinkActive="active">Login</button></a
>
