.footer-top {
  width: 100%;
  height: 78%;
  left: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../assets/img/trader-5129770.jpg);
  background-size: cover;
  background-position: right top;
}

.footer-bottom {
  width: 100%;
  height: 22%;
  background: #3a5465;
}
