<app-breadcrumb
  title="{{ pageTitle }}"
  image="{{ pageImage }}"
></app-breadcrumb>

<div class="main-body">
  <div class="paragraph">
    <h3 class="p-heading">THE MAIN ACTIVITY OF OUR COMPANY</h3>
    <div class="heading-underline"></div>
    <p class="p-body">
      Cryptocurrencies provide great opportunities for earnings to those who
      understand the mechanisms of the market and knows how to predict trends.
      Even now, when the market of digital coins is experiencing a period of
      stagnation, you can consistently receive a high income with the right
      approach. Our specialists have extensive experience in the field of
      cryptocurrency and apply unique strategies and algorithms of work in the
      market, which ensures a stable profit. Due to the diversification of
      risks, we achieve high profitability results and make plans to expand the
      company's activities. Cooperation with investors will allow increasing the
      operating of Star Trade. Due to this, we will increase the number of
      ongoing operations with cryptocurrencies and will be able to significantly
      improve trading results. That is why we offer private investors favorable
      terms of cooperation.
    </p>
  </div>

  <div class="paragraph">
    <h3 class="p-heading">CO-OPERATION WITH INVESTORS</h3>
    <div class="heading-underline"></div>
    <p class="p-body">
      We offer favorable conditions for cooperation to investors. These
      conditions will allow absolutely everyone to get a steady income. This is
      an opportunity to significantly improve their financial situation without
      any effort. All that is required of you is to transfer funds to the
      management of professionals and profits auto paid to your wallet! 1. Fully
      passive income; 2. Reduced risks due to diversification; 3. A team of
      professionals with years of experience; 4. The possibility of partnership.
    </p>
  </div>

  <div class="paragraph">
    <h3 class="p-heading">
      START CO-OPERATION WITH A PROGRESSIVE INVESTMENT RIGHT NOW!
    </h3>
    <div class="heading-underline"></div>
    <p class="p-body">
      Cryptocurrencies allowed many investors to achieve financial freedom.
      However, in order to be successful in this field, you must have experience
      and knowledge, be able to analyze the market and predict the movement of
      quotations. Thanks to our company, earnings on cryptocurrencies and
      blockchain startups are possible even for those investors who do not have
      special knowledge and skills. By transferring funds to the management of
      our team specialists, you can earn a stable profit without any effort -
      for you the income will be completely passive. Register on our investment
      resource, study the conditions of the investment offer and start your
      earnings on cryptocurrency. In addition, Star Trade offers income without
      investments under the terms of the affiliate program, which you can get
      acquainted with in detail on the pages of the site.
    </p>
  </div>
</div>
