
    <img
      id="homepagevectorbg"
      src="../../../assets/img/vectorbackground.png"
      alt=""
    />
    <app-sidenav></app-sidenav>
    <img
      id="frontpagepix"
      src="../../../assets/img/frontpageicon.png"
      alt=""
      [@smooth-rotate]="state"
    />
    <div class="welcometextdiv">
      <div class="welcometext">
        Giving you access
      </div>
      <br />
      <div class="welcometext">to premium</div>
      <br />
      <div class="welcometext">
        investment
      </div>
      <br />
      <div class="welcometext">opportunities</div>
    </div>

<!-- <div class="welcometextdiv">
  <div class="welcometext" 
  [@halfSecondFadeIn]="textState"
  >
    Giving you access
  </div>
  <br />
  <div class="welcometext" [@oneSecondFadeIn]="textState">to premium</div>
  <br />
  <div class="welcometext" [@oneAndHalfSecondFadeIn]="textState">
    investment
  </div>
  <br />
  <div class="welcometext" [@twoSecondFadeIn]="textState">opportunities</div>
</div> -->
