<app-toolbar></app-toolbar>
<app-sidenav *ngIf="iconType === false"></app-sidenav>
<app-popup-shadow
  [ngClass]="popupShadowClass"
  *ngIf="iconType === false"
  (click)="toggleIcon()"
></app-popup-shadow>
<button (click)="toggleIcon()">
  <img
    *ngIf="iconType; else elseBlock"
    src="../../../assets/img/startrademenu.png"
    id="hamburger"
    alt=""
  />
  <ng-template #elseBlock>
    <img src="../../../assets/img/close-menu.png" id="hamburger" alt=""
  /></ng-template>
</button>
<router-outlet></router-outlet>
<span [ngClass]="lowerLeftMessageClass">Attain financial progression</span>
<app-footer [ngClass]="footerClass"></app-footer>
