#homepagevectorbg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 965px; // 67% of 1440 large screen
  z-index: -1;
}

#frontpagepix {
  position: absolute;
  width: 30vw;
  height: 48vh;
  left: 10vw;
  top: 22vh;
  z-index: 1;
}

.welcometextdiv {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 66vw;
  top: 30vh;
  font-size: 0px;
}

.welcometext {
  font-family: Piedra;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;

  color: #ffffff;
}

.big-button {
  width: 22vw;
  height: 43px;
  background: #000000;
  border: 4px solid #93f763;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

.big-button:hover {
  border-color: #ffffff;
  box-shadow: none;
}

.btn1 {
  position: absolute;
  left: 66vw;
  top: 600px;
}

.btn2 {
  position: absolute;
  left: 66vw;
  top: 690px;
}

@media only screen and (max-width: 1200px) {
  .welcometext {
    font-size: 36px;
  }
  .big-button {
    font-size: 18px;
  }
}

@media only screen and (min-width: 820px) {
  app-sidenav {
    display: none;
    visibility: hidden;
  }
  .big-button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 912px) {
  .welcometextdiv {
    left: 63vw;
  }

  .big-button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  #homepagevectorbg {
    height: 514px;
  }
  #frontpagepix {
    width: 16vw;
    height: 24vh;
    left: 15vw;
  }
  .welcometext {
    font-size: 22px;
    line-height: 30px;
  }
  .welcometextdiv {
    top: 23vh;
    left: 63vw;
  }

  .big-button {
    font-size: 9px;
  }

  .btn1 {
    top: 45vh;
    left: 63vw;
  }

  .btn2 {
    top: 55vh;
    left: 63vw;
  }
}

@media only screen and (max-width: 450px) {
  app-sidenav {
    top: 12px;
  }
  #frontpagepix {
    width: 24vw;
    height: 18vh;
    top: 20vh;
    left: 15vw;
  }

  .welcometext {
    font-size: 13px;
    line-height: 20px;
  }
  .welcometextdiv {
    top: 20vh;
    left: 66vw;
  }

  .big-button {
    width: 160px;
    height: 30px;
    font-size: 11px;
    text-align: center;
  }

  .btn1 {
    top: 40vh;
    left: 55vw;
  }

  .btn2 {
    top: 50vh;
    left: 55vw;
  }
}

//   @media only screen and (max-width: 768px) {

// }
